@model MyFightBook.Modals.ResetPassword
@{
    ViewData["Title"] = "Reset Password";
    Layout = "_ExternalLayout";
}
<style>
    #validationMsg.slideInLeft {
        transform: translate3d(0,0,0);
        opacity: 1;
    }

    #validationMsg.slideOut {
        transform: translate3d(-100%,0,0);
        opacity: 1;
    }

    #validationMsg {
        transform: translate3d(100%, 0, 0);
        transition: all 1.5s;
        opacity: 0;
        color: red;
    }
</style>

<div class="register-page login-page forget-password-page">
    <div class="left">
        <div class="left-inner">
            <div class="logo">
                <a href="/home"><img src="/backend-assets/img/logo-black@2x.png" /></a>
            </div>
            <h1>New Password</h1>
            <p>Change your password</p>
            <form asp-action="ResetPassword" asp-controller="Account" method="post">
                <div id="validationMsg">
                    @Html.ValidationMessage("error", new { @class = "server-error regiester_msg" })
                </div>
                
                <div class="form-sec">
                    @Html.HiddenFor(x => x.Code, new { id = "Code" })
                    <div class="form-group">
                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control whitelist", autofocus = "autofocus", placeholder = "Email", type = "email", id = "email", required = "required" })
                    </div>
                    <div class="form-group password_rule password-eye">
                        <div class="password_details">
                            <a href="javascript:void(0);" class="close-password-rule-btn"><i class="fa fa-close"></i></a>
                        </div>
                        @Html.PasswordFor(x => x.NewPassword, new { @class = "form-control", placeholder = "New password", autofocus = "autofocus", required = "required" })
                        <a href="javascript:void(0);" class="passwordtoggle">
                            <img src="/backend-assets/img/eye-off.svg" class="passwordoff" />
                            <img src="~/backend-assets/img/eye-on.svg" class="passwordon" />
                        </a>
                    </div>
                    <div class="form-group password-eye">
                        @Html.PasswordFor(x => x.NewPasswordConfirm, new { @class = "form-control", placeholder = "Verify password" })
                        <a href="javascript:void(0);" class="passwordtoggleconfirm">
                            <img src="/backend-assets/img/eye-off.svg" class="passwordoff" />
                            <img src="~/backend-assets/img/eye-on.svg" class="passwordon" />
                        </a>
                    </div>
                    <div class="form-group custom-sec">
                        <div class="custom-control custom-checkbox">
                        </div>
                        <a href="@Url.Action("login")">Back to login</a>
                    </div>
                    <button type="submit" class="btn btn-primary" id="forgotpasswordId">Save Change</button>
                </div>
                </form>
                <div class="bottom-sec">
                    <p>By signing in you agree to Myfightbook&#8217;s <br /> <a href="@Url.Action("Cookies", "Auth", new {Term = "Cookies", AdminType ="admin" })">Terms and Conditions</a> & <a href="@Url.Action("Policies", "Auth", new {Term = "Policies", AdminType ="admin" })">Privacy Policy</a></p>
                </div>
        </div>
    </div>

    <div class="right">

    </div>
</div>